@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" hrf="indexhtml.css" />
        <div class="jumbotron">
            <h1>Capstone Project</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Capstone Project</h2>
                <p>
                    This web application is a snowboard gear database. Ideally it will be set up with user login info and they will be
                    able to rent equipment from the application.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Build it from scratch</h2>
                <p>The application will be built using ASP.NET Core 5.0</p>
            </div>
            <div class="col-md-4">
                <h2>Download it</h2>
                <p>You can download the completed project from GitHub.</p>
            </div>
        </div>